{%- comment -%}
  breadcrumb-product.liquid
  Usage: {% render 'breadcrumb-product', product: product %}
{%- endcomment -%}

{%- assign current_collection = collection | default: product.collections.first -%}
{% assign collection_handle = collection.handle | default: product.collections.first.handle %}
{% assign collection_object = collections[collection_handle] %}

<nav class="breadcrumb-product" aria-label="Breadcrumb">
  <div class="breadcrumb-left">
    {%- if current_collection -%}
     <a href="{{ collection_object.url }}" class="breadcrumb-back">
        
<svg class="breadcrumb-left__svg" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.40233 7.37892C4.43329 7.4127 4.45786 7.45281 4.47461 7.49695C4.49137 7.54109 4.5 7.5884 4.5 7.63618C4.5 7.68396 4.49137 7.73127 4.47461 7.77541C4.45786 7.81955 4.43329 7.85966 4.40233 7.89344C4.37136 7.92722 4.3346 7.95402 4.29414 7.97231C4.25368 7.99059 4.21031 8 4.16652 8C4.12272 8 4.07936 7.99059 4.0389 7.97231C3.99844 7.95402 3.96168 7.92722 3.93071 7.89344L0.597751 4.25726C0.566762 4.22349 0.542179 4.18339 0.525406 4.13924C0.508633 4.0951 0.5 4.04778 0.5 4C0.5 3.95221 0.508633 3.9049 0.525406 3.86076C0.542179 3.81661 0.566762 3.77651 0.597751 3.74274L3.93071 0.10656C3.99325 0.0383309 4.07807 -1.90207e-09 4.16652 0C4.25496 1.90207e-09 4.33979 0.0383309 4.40233 0.10656C4.46487 0.17479 4.5 0.267329 4.5 0.36382C4.5 0.460311 4.46487 0.55285 4.40233 0.62108L1.30476 4L4.40233 7.37892Z" fill="#212121"/>
</svg>
{{ collection_object.title }}
      </a>
    {%- endif -%}
  </div>

  <div class="breadcrumb-center">
    <a href="/" class="breadcrumb-home">Hem</a>
    <span class="breadcrumb-separator">/</span>
    <span class="breadcrumb-current">{{ product.title }}</span>
  </div>
</nav>

<style>
  .breadcrumb-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #666;
  }

  .breadcrumb-left a {
    color: #666;
    text-decoration: none;
  }

  .breadcrumb-left a:hover {
    text-decoration: underline;
  }

  .breadcrumb-center {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .breadcrumb-home {
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }

  .breadcrumb-home:hover {
    text-decoration: underline;
  }

  .breadcrumb-current {
    color: #666;
  }

  .breadcrumb-product {
    margin-bottom: 0;
    padding-bottom: 24px;
  }

  .grid__item.product__media-wrapper button.st-wishlist-button.st-initialized {
    top: 49.2px;
  }

  .breadcrumb-home {
      font-family: Sofia Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
  }

  .breadcrumb-current {
      font-family: Sofia Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: #767676;
  }

  a.breadcrumb-back {
      font-family: Sofia Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      vertical-align: middle;
      color: #767676;
  }

  a.breadcrumb-back {
    display: flex;
    align-items: center;
  }

  svg.breadcrumb-left__svg {
      margin: 10px 16px 11px;
  }
</style>
