{% assign color_option_index = nil %}

{%- for option in product.options_with_values -%}
  {%- assign downcased_option = option.name | downcase -%}
  {%- if downcased_option == 'color' or downcased_option == 'färg' -%}
    {% assign color_option_index = forloop.index0 %}
  {%- endif -%}
{%- endfor -%}

{% if color_option_index != nil %}
  {% assign all_colors = product.options_with_values[color_option_index].values %}
  {% assign first_color = all_colors.first %}
  {% assign remaining_count = all_colors.size | minus: 1 %}

  <p class="variant-names">
    {{ first_color }}
    {% if remaining_count > 0 %}+{{ remaining_count }}{% endif %}
  </p>
{% endif %}
