.mega-menu {






  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}


.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}








.mega-menu__content {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 32px;
}

/* Mega Menu Category Block */
.mega-menu__category-block-inner {
}

.mega-menu__category-grid {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 25px;
  width: fit-content;
}

.mega-menu__category-card {
  text-align: center;
}

.mega-menu__category-image-wrapper {
  overflow: hidden;
  border-radius: 1rem;
}

.mega-menu__category-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.mega-menu__category-text {
  margin-top: 10px;
  /* font-size: 1rem; */
  text-align: left;
}


div#MegaMenu-Content-1 {
    opacity: 1;
    min-height: 600px;
}

summary#HeaderMenu-produkter {}

.mega-menu__category-text strong {
    color: #767676;
    font-size: 12px;
    display: block;
    font-weight: 400;
}

.mega-menu__category-text p {
    font-size: 18px;
    color: #212121;
    line-height: 1.1em;
    margin: 0;
}

.mega-menu__category-text br {
    display: none;
}

.mega-menu-list-links-container {
    width: 100%;
}

h3.mega-menu-title {
    margin: 0;
    margin-bottom: 30px;
    color: #767676;
    font-size: 18px;
}

.mega-menu__link--level-2 {
    color: #000;
    font-size: 18px;
}


.mega-menu-list-links-container {
    width: 100%;
    max-width: 600px;
}

h3.mega-menu-title {
    margin: 0;
    margin-bottom: 30px;
    color: #767676;
    font-size: 18px;
}

.mega-menu__link--level-2 {
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.mega-menu__link--level-2 svg {
    display: block!important;
}

nav.header__inline-menu {
    /* padding-bottom: 10px; */
}

summary.list-menu__item {
    min-height: 40px;
    position: relative;
}

summary.list-menu__item:after {
        content: "";
    width: 120%;
    position: absolute;
    bottom: -10px;
    height: 50px;
    left: -15%;
}

.mega-menu__category-card {}


.mega-menu__category-block-inner.page-width {
    margin-top: 48px;
}


.mega-menu__category-text {
    text-decoration: none;
}

.mega-menu__category-grid a {
    text-decoration: none;
}

.mega-menu__list li {
    max-width: 250px;
}




.mega-menu__list ul.list-unstyled {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 0px;
    display: grid;
}

.mega-menu__list ul.list-unstyled a {
    text-decoration: none;
}

ul.mega-menu__list.is-level-3 > li:not(.is-level-3-li-selected) {
    display: none;
}

ul.mega-menu__list.is-level-3 {
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: block;
    padding: 0;
}

ul.mega-menu__list.is-level-3 > li {
    max-width: 100%;
}

.mega-menu__list ul.list-unstyled {
    opacity: 0;
    height: 0;
}

ul.mega-menu__list.page-width {
    padding: 0;
}

.mega-menu__link--level-2 {
    font-family: 'Source Serif 4'!important;
    padding: 10px 0;
}

ul.list-unstyled.is-level-3-selected {
    opacity: 1;
    height: 100%;
}


li.is-level-3-li-selected > a {
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #767676;
    padding-left: 16px;
    padding-bottom: 20px;
}

.is-level-3-pc h3{
  display: none;
}
.is-level-3 .mega-menu__link--level-2 svg {
    transform: rotate(180deg);
}

ul.list-unstyled.is-level-3-selected a {
    font-family: "Source Serif 4" !important;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


ul.list-unstyled.is-level-3-selected a svg {
    display: block!important;
}

ul.list-unstyled.is-level-3-selected a {
    justify-content: space-between;
    font-weight: 600;
}

.is-level-3 .mega-menu__link--level-2 svg {
    height: 10px;
    width: 6px;
    margin-right: 5px;
}
.mega-menu-list-links-container a {
    text-decoration: none!Important;
}

.mega-menu-list-links-container a {
    color: #000!Important;
    transition: .1s ease-in-out;
}

.mega-menu-list-links-container a:hover {
    opacity: .5!important;
}