.main-page-title {
    color: #432F22;
}

.rte * {
    color: #432F22;
}

.main-page-title {
    font-weight: 600;
    font-size: 40px !important;
    line-height: 120%;
    letter-spacing: -1px;
}