label.form__label.size-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size-guide {
    font-size: 13px;
}

.read-more-button {
    border: 0;
    background: 0;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer !important;
    margin: 0 !important;
}

.expanded+a.read-more-button:before {
    content: 'Visa mindre';
    visibility: visible;
    letter-spacing: 0;
}

.expanded+a.read-more-button {
    visibility: hidden;
    letter-spacing: -30px;
}

.new-select__container .product-form__buttons {
    max-width: 100% !important;
}

.new-select__container {
    width: 100%;
    display: flex;
}

.product-form__input .new-select__container .select+div {
    max-width: max-content;
    width: 100%;
}

.product__description:not(.expanded) {
    margin: 0;
}

.new-select__container .product-form__submit {
    padding: 0 16px;
    max-width: 100%;
}

.product-form__input .new-select__container .select {
    max-width: 100%;
}

.product__info-container .new-select__container .product-form {
    width: 100%;
}

.product__info-container .product__description {
    margin-bottom: 0;
}

.new-variant_cont {
    position: relative;
}

.size-guide {
    position: absolute;
    right: 0;
    top: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}

.product-form__input .form__label {
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
}

fieldset.js.product-form__input.product-form__input--swatch+div label.form__label.size-label {
    margin-top: unset;
    color: unset;
}

.product__info-wrapper .product__info-container {
    margin-top: 32px;
}

.product__info-wrapper p.product__text.caption-with-letter-spacing {
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: capitalize;
    color: #767676;
}

.product__info-wrapper .product__title h1 {
    font-family: Source Serif Pro;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
    vertical-align: middle;
    color: #0C1214;
}

.product__info-wrapper .price__regular .price-item--regular {
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    vertical-align: baseline;
}

.product__info-wrapper .product__text.caption-with-letter-spacing+.product__title {
    margin: 16px 0;
}

.product__info-wrapper .product__tax {
    display: none;
}

.product__info-container .product__description.rte.quick-add-hidden {
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
}

.product__info-container .product-form__input .form__label {
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
}

.product__info-container>div>product-form.product-form {
    display: unset;
}
@media screen and (min-width: 768px) {
.product__media-item{
    max-width: calc(50% - 4px) !important;
    margin: 0 !important;
}
}

.grid__item.product__media-wrapper button.st-wishlist-button.st-initialized {
    position: absolute;
    right: 0;
}

.grid__item.product__media-wrapper {
    position: relative;
}
.product__media-item:nth-child(3n){
    max-width: 100% !important;
}

.product__media-list {
    gap: 8px;
}

.product-media-container .product__modal-opener {
    height: 100%;
}

.product-media-container {
    height: 100%;
}

.product-media-container .media {
    height: 100%;
}

.product-form__input--swatch .swatch-input__input+.swatch-input__label {
    height: 64px;
    width: 44px;
    border-radius: 0;
    padding: 2px;
}

.swatch-input__input+.swatch-input__label>.swatch {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.product-form__input .swatch-input__input:checked+.swatch-input__label {
    padding: 2px;
}

.product__description.rte.quick-add-hidden p {
    max-width: 410px;
    line-height: 20px;
}

variant-selects .product-form__input {
    margin-bottom: 36px;
}

.quantity:before {
    border: 0;
    display: none;
}

.quantity:after {
    border: 0;
    display: none;
}

.quantity {
    border: 0;
}

.product-form__buttons .product-form__submit {
    border-radius: 100px;
    transition: .2s ease-in-out;
}

.button:before {
    display: none;
}

.button:after {
    display: none;
}

.product-form__buttons .product-form__submit:hover {
    background: white;
    color: black;
    transition: .2s ease-in-out;
}

p.buybtn-message {
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
    color: #0C1214;
}

.product-form__input.product-form__input--pill input[type=radio]+label {
    letter-spacing: 0;
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    padding: 7px 11px;
}

.read-more__btn {
    text-decoration: underline;
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    cursor: pointer !important;
    margin-left: 4px;
    color: #767676 !important;
    text-decoration-color: #767676;
}


@media (max-width:768px) {
    div .product__info-container > div > product-form.product-form {
        display: block;
    }
}

.product--large:not(.product--no-media) .product__info-wrapper {
    padding: 0 0 0 8rem !important;
}

.product__info-wrapper .product__text.caption-with-letter-spacing+.product__title {
    margin: 8px 0;
}

.product__info-wrapper .product__info-container {
    margin-top: 54px;
}

div .product-form__input--swatch .swatch-input__input+.swatch-input__label {
    margin: 8px 8px 0 8px;
}

div .product-form__input--swatch .swatch-input__input+.swatch-input__label:nth-child(3) {
    margin-left: 0;
}

.product-form__buttons .product-form__submit {
    height: 40px;
    min-height: 40px;
    border: 1px solid black;
}

.product__info-container>.new-variant_cont {
    margin: 3rem 0;
}

.share-button__button {
    display: none;
}

.product.grid {
    display: flex;
}

form .product-form__buttons {
    max-width: 100%;
}

@media (max-width:768px) {
    .product--large:not(.product--no-media) .product__info-wrapper {
        padding: 0 3rem !important;
    }
    
    .product-media-container .product__modal-opener, .product-media-container, .product-media-container .media {
        height: unset;
        max-width: 100%;
    }
    
    .slider-buttons.quick-add-hidden {
        display: none;
    }
    
    .grid--peek.slider .grid__item {
        margin: 0;
        width: 100%;
    }
}

.product-form__input.product-form__input--pill input[type=radio]+label {
    background: transparent;
}

.product-form__input--pill input[type=radio]:checked+label {
    background: black;
}

.product-form__input.product-form__input--pill input[type=radio]+label:hover {
    transition: .2s ease-in-out;
    background: black;
    color: white;
}

.product__description.rte.quick-add-hidden p {
    margin-bottom: 0 !important;
}

.product__description.rte.quick-add-hidden {
    margin: 45px 0;
}

.product .price__container {
    margin-bottom: 0 !important;
}

.price__regular {
    line-height: 100% !important;
}

.price--large {
    line-height: 100% !important;
}

.product__info-wrapper .product__tax+div {
    display: none;
}

@media (min-width:1100px) {
    p.buybtn-message {
        margin-left: 120px;
        text-align: center;
    }
}

.swatch-input__input+.swatch-input__label:hover, .swatch-input__input:hover+.swatch-input__label {
    outline: unset !important;
    border: 1px solid rgb(var(--color-foreground));
    transition: .2s ease-in-out !important;
    outline-offset: unset;
    transition-property: none;
}

.product-form__input--swatch .swatch-input__input+.swatch-input__label {
    transition: .2s ease-in-out;
    transition-property: auto;
}

.product-mobile-top {
    display: none;
}

p.buybtn-message {
    text-align: center;
}

@media (max-width:768px) {
    .product-mobile-top {
        display: block;
        padding: 0 20px;
        margin: 16px 0;
    }
    
    .product-mobile-top .product__text.caption-with-letter-spacing {
        font-family: Sofia Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0;
        vertical-align: middle;
        text-transform: capitalize;
        color: #767676;
        margin: 10px 0;
    }
    
    .product-mobile-top .product__title>* {
        font-family: Source Serif Pro;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -1px;
        vertical-align: middle;
        color: #0C1214;
    }
    
    .product-mobile-top .product__tax.caption.rte {
        display: none;
    }
    
    .product-mobile-top .price__regular .price-item--regular {
        font-family: Sofia Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0;
        vertical-align: middle;
        color: #212121;
    }
    

    
    .product-mobile-top .product__text.caption-with-letter-spacing+.product__title {
        margin: 10px 0;
    }
    
    .product-mobile-top [id*=price-template] {
        margin: 10px 0;
    }
    
    .product__info-wrapper p.product__text.caption-with-letter-spacing {
        display: none;
    }
    
    .product__info-wrapper .product__text.caption-with-letter-spacing+.product__title {
        display: none;
    }
    
    .product__info-container>*+*:has(.price) {
        display: none;
    }
    
    .product__info-container .product__description.rte.quick-add-hidden {
        margin-top: 8px;
    }
    
    .product__info-wrapper .product__info-container {
        margin-top: 0;
    }
    
    
    .product--large:not(.product--no-media) .product__info-wrapper {
        padding: 0 20px !important;
    }
    
    .product__info-container>.new-variant_cont {
        margin-bottom: 44px;
    }

    .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin: 0!important;
    }

    .grid--peek.slider .grid__item:first-of-type {
        margin-left: 0;
    }

    media-gallery {
        position: relative;
    }

    .grid__item.product__media-wrapper button.st-wishlist-button.st-initialized {
        top: 10px;
    }

    .product-mobile-top .product__title>* {
        font-weight: 500;
    }

    .product-form__submit span {
        font-family: 'Sofia sans';
    }

    .quantity__input {
        font-size: 12px;
    }

    .product-details-tab__text {
        font-family: 'sofia sans';
    }

    div nav.breadcrumb-product {
        padding: 0 20px;
    }

    .product-form__buttons.sticky-mobile {
        background: #fafafacc;
    }
}

.product-form__buttons .product-form__input {
    max-width: 110px;
    margin-bottom: 0;
}

.product-form__buttons   quantity-input.quantity {
    width: 100%;
    max-width: 110px;
}

.product-form__buttons   label.quantity__label.form__label {
    display: none;
}
