.header__icon--cart svg {
    width: 25px;
    height: 25px;
}

a.header__heading-link.link.link--text.focus-inset {
    padding: 0 10px;
}

nav.header__inline-menu {
    margin-bottom: -20px;
    transition: .2s ease-in-out;
}

.scrolled-past-header nav.header__inline-menu {
    margin-bottom: 0;
}

img.header__heading-logo.reduced {


    position: absolute;
    opacity: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__heading-logo-wrapper {
    min-height: 20px;
    position: relative;
}

.scrolled-past-header .header__heading-logo-wrapper {
    width: 100%;
    min-width: 185px;
    margin-right: 20px;
}

.scrolled-past-header img.header__heading-logo.motion-reduce {
    opacity: 0;
    height: 0;
}

.scrolled-past-header img.header__heading-logo.reduced {
    opacity: 1;
    width: 185px;
}

.header__heading-logo {
    transition: .2s ease-in-out;
}

summary.list-menu__item {}

.scrolled-past-header .header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.shopify-section-header-sticky .header{
    gap: 40px;
}

.header__heading-logo-wrapper {
    width: 100%;
    min-width: 185px;
    margin-right: 20px;
}


ul.mega-menu__list.page-width {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 0px;
}


.shopify-section-header-sticky .header {
    max-width: 100%;
}


@media screen and (max-width: 768px) {
.shopify-section-header-sticky .header {
    gap: 20px;
    padding: 16px 20px;
    position: relative;
}

.header__heading-logo-wrapper {
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: -26px;
    width: auto;
}

.header__icons.header__icons--localization.header-localization {
    padding-right: 0;
}

.scrolled-past-header .header__heading-logo-wrapper {
    /* width: 100%!important; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: none; */
    flex-direction: column;
    /* height: 100%; */
    /* top: 22px; */
    /* max-height: 40px; */
    margin-top: -10px;
}

.scrolled-past-header img.header__heading-logo.reduced {
    position: static;
    transform: none!important;
}


.scrolled-past-header .header {
    padding: 5px 20px;
}

.header__icons.header__icons--localization.header-localization {
    transform: scale(.85);
}

.header__icon--menu {
    transform: scale(.85);
}


}
.card__heading a {
    margin-top: 3px;
    margin-bottom: -2px;
}

.card__badge.bottom.left {
    display: none;
}

.product-form__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-form__buttons 
 .product-form__submit {
    margin-bottom: 0!important;
}

.quantity__button {
    width: 30px;
}

summary.list-menu__item span {
    z-index: 2;
}

.st-wishlist-button[data-type="details"] {
    z-index: 3;
    position: relative;
}

.card__media +  .card__content {
    display: none;
}

.st-wishlist-button[data-type="details"] {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 15px;
    width: 38px;
    height: 38px;
        border-radius: 50%;
}

.grid__item button.st-wishlist-button.st-initialized {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
}



.card__media .st-wishlist-button[data-type="details"] {
    position: absolute;
    z-index: 9;
    right: 0;
}

.gradient {
    background: #fafafa !important;
}



.st-wishlist-details-button[data-type=floating] {
    z-index: 99;
}

div#MegaMenu-Content-1 {
    display: flex;
    flex-wrap: wrap;
}

.megamenu-footer {
    display: flex;
    width: 100%;
}

.mega-menu__category-block {
    width: calc(50% - 40px) !important;
}

.mega-menu-list-links-container {
    width: calc(50% - 40px) !important;
}

details#Details-HeaderMenu-1 svg.icon {
    display: unset;
}

.megamenu-footer .list-social__link {
    padding: 8px !important;
}

.megamenu-footer .list-social {
    display: flex;
    justify-content: flex-start;
}

.megamenu-subfooter {
    border-top: 0.5px solid var(--Base-FT-Black-Light, #D9D9D9);
    margin-top: 8px;
    padding-top: 8px;
    width: 100vw;
    margin-left: -48px;
    padding-right: 24px;
}

.megamenu-copyright {
    text-align: right;
}

.megamenu-copyright .copyright__content a {
    text-decoration: none;
    color: #767676;
}

.megamenu-copyright .copyright__content {
    color: #767676;
    font-family: Sofia Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
}

.megamenu-footer .list-social {
    flex-wrap: nowrap;
}

.megamenu-footer {
    display: flex;
    flex-direction: column;
}

.megamenu-footer {
    max-height: max-content;
    margin-top: auto;
}

.megamenu-footer.mobile>* {
    padding-right: 32px;
    padding-left: 32px;
}

.megamenu-footer.mobile .megamenu-subfooter {
    margin-left: 0;
    width: 100%;
}

details#Details-HeaderMenu-1 .megamenu-footer svg {
    display: block;
}

.megamenu-footer .list-social {
    width: 100%;
}

.megamenu-footer .list-social__link:first-child {
    padding-left: 0 !important;
}