.main-page-title {
    color: #432F22;
}

.rte * {
    color: #432F22;
}

.main-page-title {
    font-weight: 600;
    font-size: 40px !important;
    line-height: 120%;
    letter-spacing: -1px;
}

.rte h3 span {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
    vertical-align: middle;
}